body {
    margin: 0;
    background-image: url(images/olayinka-babalola-r01ZopTiEV8-unsplash\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#banner {
    background-color: rgb(43, 43, 43);
    height: 240px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#banner_line {
    position: absolute;
    top: 50px;
    left: 285px;
    font-family: 'Major Mono Display', monospace;
    font-size: 60px;
    color: white;
}
#logo {
    width: 250px;
    align-self: left;
    text-align: right;
}

#head_paragraph {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 83, 83);
    width: 1200px;
    height: 500px;
    border-radius: 40px;
    font-size: 60px;
    text-align: center;
    color: white;
    margin: 0 auto;
    margin-top: 60px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    background-color: rgb(43, 43, 43);
    text-align: center;

}

#nav li {
    display: inline;
    margin-right: 20px;
}

#nav a {
    text-decoration: none;
    color: #fff; 
    font-family: 'Major Mono Display', monospace; 
    font-size: 30px;
    transition: color 0.3s;
}

#nav a:hover {
    color: rgb(182, 62, 62);
}

#banner nav .active{
    color: rgb(242, 83, 83); /* Change the active link color as needed */
}
.contact-container {
    display: flex;
    justify-content: space-around;
    margin: 60px auto;
    padding: 20px;
    top: 50px;
    max-width: 1200px;
    background-color: rgb(242, 83, 83);
    color: white;
    border-radius: 20px;

}

.contact-info, .contact-form {
    flex: 1;
    margin: 10px;
}

.contact-info h2, .contact-form h2 {
    margin-bottom: 15px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.contact-form button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: rgb(182, 62, 62); /* Change button color as needed */
    color: white;
    border: none;
    border-radius: 5px;
}

